.card {
  background: transparent;
  border: none;
  border: none;
  margin: 0 auto;
}

.left-column {
  padding: 140px 60px 60px 60px;
  margin: 0 auto;
}

@media (max-width: 525px) {
  .left-column {
    padding: 30px;
    height: 100vh !important;
  }
}
