img.logo {
  display: block;
  margin: 0 auto;
  width: 56%;
}

header {
  padding-top: 50px;
}

@media (max-width: 525px) {
  header {
    padding-bottom: 20px;
  }
  img.logo {
    width: 300px !important;
  }
}
