img.logo {
  width: 56%;
}
.signature {
  font-size: 14px;
  letter-spacing: 0px;
  color: #000;
}

.signature a {
  color: #000;
}

.signature a:hover {
  color: #959595;
}

@media (max-width: 525px) {
  img.logo {
    width: 60% !important;
  }
  .signature {
    font-size: 12px;
  }
}
