.table-info {
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  padding: 15px 15px;
  border-radius: 10px;
}
p.mini-title {
  color: black;
  font-size: 15px;
  margin: 0;
  font-weight: 300;
  font-family: "ivypresto-display", serif;
}
.guest {
  margin-bottom: 10px;
}

@media (max-width: 525px) {
  p.mini-title {
    font-size: 12px;
  }
}
